body {
    font-family: "New Century Schoolbook", "cursive", sans-serif;
    background-color: rgb(245, 239, 220);
}

.centerimg {
    width: 300px;
    height: auto;
}

h1,
.food,
.center {
    text-align: center;
    list-style-type: none;
    font-size: 30px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: rgb(131, 39, 39);
    font-style: italic;
    line-height: 2;
}

