body {
    font-family: "New Century Schoolbook", "cursive", sans-serif;
    background-color: rgb(245, 239, 220);
}

.centerimg {
    width: 300px;
    height: auto;
}

h1,
.food,
.center {
    text-align: center;
    list-style-type: none;
    font-size: 30px;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #06c416;
    font-style: italic;
    line-height: 1.5;
}

